<div id="commande">
    <nav>
        <span class="button" id="title1">Entrée</span>
        <span class="button" id="title2">Plat</span>
        <span class="button" id="title3">Dessert</span>
        <span class="button" id="title4">digestif</span>
    </nav>
    <div class="menu" id="menu1">
        <ul>
            <li class="titre" id="nems"><img class="arrow" id="entree1" src="assets/Nems-au-poulet.jpg"/>Nems au poulet</li>
            <li class="titre" id="soupe"><img class="arrow" id="entree2" src="assets/soupe-miso.jpg"/>soupe michto</li>
            <li class="titre" id="difficulte3"><img class="arrow" id="entree3" src="assets/bruschetta.jpg"/>bruschetta</li>
        </ul>
        </div>
        </div>