html{
	background-image: url("assets/Background.jpg");
	background-position: fixed;
	background-repeat: repeat;
	
}
.body1
{
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 35%;
	height: 45vw;
	width: 30vw;
	background-image: url("assets/Restaurants.jpg");
	background-size: cover;
	opacity: 0.85;
	align-items: center;
	flex-direction: column;
	display: flex;
}

.card1
{
	margin-top: 25px;
	text-size-adjust: 45px;
	
}
.card2
{
	text-size-adjust: 45px;
	
}

body
{
	background-image: url("assets/Background.jpg");
	font-family: "trebuchet ms", sans-serif;
	text-align: center;
	overflow: hidden;
	opacity: 1;
	user-select: text;
}

#home 
{

	background-image: url("assets/Background.jpg");
	display: flex;
	align-items: center;
	flex-direction: column;
}

#home >*
{
	background : white;
	font-size : 54px;
}

#home #logo {
	margin-bottom: 40px;
	margin-top: 5%;
}

#home #logo img 
{
	width: 300px;
	left:42%;
	cursor: none;
	border:4px solid pink;
}

#home #connexion,
#home #inscription {
	width: 25vw;
	padding: 10px;
	margin-bottom: 30px;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	border: 4px solid pink;
}


#home #connexion:hover,
#home #inscription:hover {
	background: pink;
}

#home #formulaire {
	width:15vw;
	padding: 10px;
	text-align: left;
	font-size: 20px;
	border:4px solid #F5C5C5;
}

#home #formulaire a {
	width:3vw;
}

#home #formulaire input[type=text],input[type=email], input[type=password] {
	display: block;
	margin-bottom: 20px;
	border:2px solid #F5C5C5;
	border-radius:5px;
	padding:3px;
	box-shadow:1px 1px 2px #C0C0C0 inset;
	border-collapse: collapse;
}


#home #formulaire input[type=submit] {
	
	width: 10vw;
	padding: 10px;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	box-shadow:1px 1px 1px #D83F3D;
	border: 2px solid pink;
	border-collapse: collapse;
}

input:invalid {
	background-color: #D83F3D;
  }


#error{color:red;}

#commande nav {
	margin-top: 20px;
}

#commande nav .button {
	font-variant: small-caps;
	font-size: 3em;
	color: black;
	border: solid 1px rgba(0, 0, 0, 0);
	border-bottom: solid 2px #c8c8c8;
	background-color: pink; /*160 0 0*/
	margin: 0 0 0 0;
	padding: 5px 15px 5px 15px;
	cursor: pointer;
}

#commande nav .button:hover
{
	background-color: rgba(160, 0, 0, 0.2);
	color: #b30000;
	border: solid 1px rgba(160, 0, 0, 0.5);
}

#commande .menu
{
	margin-top: 1% !important;
	border: solid 1px rgba(160, 0, 0, 0.5);
	height: 565px;
	width: 934px;
	margin: auto;
	background-color: rgba(160, 0, 0, 0.1);
	display: none;
}

#commande #menu1 ul
{
	width: 35%;
    margin: auto;
    list-style: none;
    padding: 2% 0 0 0;
}

#commande #menu1 .titre
{
	font-size: 1.5em;
	color: #c8c8c8;
	margin: 30px 0 30px 0;
	padding: 5px 0 5px 0;
	cursor: pointer;
	border-bottom: solid 1px rgba(0,0,0,0);
}

#commande #menu1 .titre:hover
{
	border-bottom: solid 1px #c8c8c8;
	color: #b30000;
}


#commande #menu1 img {
	margin-top: 1%;
	width: 15%;
	border: ridge 5px rgba(0, 0, 0, 0);
	cursor: pointer;
}

#commande #menu1 .arrow
{
	position: absolute;
	top: 27%;
	left: 35%;
	width: 2%;
	cursor: auto;
	visibility: hidden;
}

#commande #menu1 #arrow1
{
	top: 17.5%;
}

#commande #menu1 #arrow3
{
	top: 36.5%;
}