<div id="home">
    <div id="logo"><img src="assets/logo.jpg"></div>
        <div id=formulaire>
            <a>Login:</a>
            <input [(ngModel)]="formInscription.login" type="text" name="login" id="login"/>

            <a>Password:</a>
            <input [(ngModel)]="formInscription.password" type="password" name="password" id="password"/>
            
            <a>Nom:</a>
            <input [(ngModel)]="formInscription.nom" type="text" name="nom" id="nom"/>
            
            <input (click)="ajouterClient()" id="button1" value="Sign on" type="submit"/>
    </div>

    

</div>