<div id="home">
    <div id="logo"><img src="logo.jpg"></div>
        <div id=formulaire>
        <form method="POST" action="home" name="formInscription">
            <a>Email:</a>
            <input type="email" name="email" size="30" maxlength="40" placeholder="toto@gmail.com" spellcheck="true" id="email"/>

            <a>Prénom:</a>
            <input type="text" name="prenom" size="30" maxlength="" placeholder="ex:Jordan" id="prenom"/>
            
            <a>Nom:</a>
            <input type="text" name="nom" size="30" maxlength="40" placeholder="ex:Abid" id="nom"/>
            
            <input id="button1" value="Sign on" type="submit"/>
        </form>
        </div>

    

</div>