
<div class="body1">
	<div class="card1">
		<div>
			<h2>Choix du restaurant</h2>
		</div>
	</div>
		<div class="card2" >
			<div class="form-group row">
				<label for="fourchette_prix" ><h5>Fourchette de Prix</h5></label>
					<div >
						<input type="number"  id="fourchette_prix" [(ngModel)]="filterFourchettePrix" />
					</div>
			</div>
				<div class="card2">
				
						<h5 class="card-title" img="src(assets/Restaurants.jpg)">Quelles types de cuisines voulez vous gouter aujourd'hui?</h5>			
							<SELECT name="nom" size="1" [(ngModel)]="filterCuisines">
								<OPTION>Burger</OPTION>
								<OPTION>Chinoise</OPTION>
								<OPTION>Creole</OPTION>
								<OPTION>FastFood</OPTION>
								<OPTION>Française</OPTION>
								<OPTION>Italienne</OPTION>
								<OPTION>Indienne</OPTION>
								<OPTION>Japonnaise</OPTION>
								<OPTION>Libanaise</OPTION>
								<OPTION>Mexicaine</OPTION>
								<OPTION>Pizza</OPTION>
								<OPTION>Sushi</OPTION>
							</SELECT>
					
				</div>
			
		</div>
	
</div>

			
			<!--			<div class="form-group row">
				<label for="Cuisines" class="col-sm-2 col-form-label">Quelles types de cuisines vouslez vous gouter aujourd'hui? </label>
				<div class="col-sm-10">
					<input type="string" class="form-control" id="Cuisines" [(ngModel)]="filterCuisines" />
				</div>
			</div>
		</div>
	</div>
	Burger, Chinoise, Créole, FastFood, Française, Italienne, Indienne, Japonnaise, Libanaise, Mexicaine, Pizza, Sushi
}
-->